@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

* {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.country-page {
  padding: 0 3rem;
}

.btn-back {
  margin-top: 75px;
}

.country-card {
  display: flex;
  flex-flow: row;
  height: 100%;
  width: 100%;
  margin-top: 78px;
  justify-content: space-between;
}

.description-card {
  width: 50%;
  align-self: flex-start;
  text-align: start;
}

.flag {
  align-self: flex-start;
}

img{
  height: auto;
  width: 100%;

}

.description {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;

  height: 150px;
}

.description p {
  margin: 0 0 0.8rem 0;
}

.wrap-borders{
  width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.borders, span {
  font-weight: 900;
}

a{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px 0px;
  padding: .2rem 1.5rem;
  text-decoration: none;
}

a:active,a:visited{
  color:inherit
}

.borders,a {
  margin: 0.3rem;
}
